<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/readmore.css"> 
    <link rel="stylesheet" href="../css/navigation_menu.css"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    <title>MyPage</title>
</head>
 <!-- xxxxxxxxxxxxxxxxxx NAVIGATION MENU xxxxxxxxxxxxxxxxxx   -->
 <header>
    <p class="Logo"><a href="../index.html">MyPage</a></p>
    <input type="checkbox" name="" class="btn" />
    <div class="nav">
        <ol>
            <li><a href="read_page.html">Home</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="https://github.com/xmohito">GitHub</a></li>

        </ol>
    </div>
</header>
 <!-- xxxxxxxxxxxxxxxxxx NAVIGATION MENU xxxxxxxxxxxxxxxxxx   -->

<body>
     <section id="readmore2">
        <div class="main">
            <h1>This page is: <div class="roller">
                <span id="rolltext">RESPONSIVE<br/>
                     MODERN<br/>
                     MADE BY ME<br/>
                <span id="spare-time">Do you like it?</span><br/>
                </div>
                </h1>
                  
            </div>                      
        </section>
     <canvas id="canvas"></canvas>               
</body>

<script src="../js/canvas.js"></script>
</html>